
body{
    margin: 1;
    font-family: 'Courier New', Courier, monospace;
}
.header{
background-color: rgba(19, 19, 196, 0.904);
padding: 20px;
display: flex;
align-items: center;
gap: 20px;
}
header{
position: sticky;
top: 0;
z-index: 1000;
}
.logo{
color: aliceblue;
font-size: 24px;
font-weight: bolder;
margin-right: 20px;
display: flex

}
.search{
display: inline-block;
}
.search input{
padding: 5px;
width: 200px;
}
.menu{
display: inline;
float: right;
}
.menu a{
text-decoration: none;
color: aliceblue;
margin-left: 15px;
}
span{
font-style: italic;
font-size: 20px;
color: firebrick;
}
.logo img{
width: 50px;
height: 50px;
}
.location{
    font-size: 19px;
}
.search{
flex: 1;
gap: 10px;
display: flex;
}
.search input{
    padding: 6px;
    width: 100%;
    border: none;
    border-radius: 4px 0 0 4px;
}
.search button{
    padding: 6px 10px;
    border: none;
    background-color:orangered;
    cursor: pointer;
}
.search button:hover{
 color: orange;
}
.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.menu li{
    margin-left: 15px;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
}
.menu ul:hover{
    color: orangered;
    text-decoration: underline;
}
.logo:hover{
    cursor: pointer;
    color: orangered;
}
.location:hover{
    text-decoration: underline;
    cursor: pointer;
    color: darkorange;
}
.menu a,
.search button,
.logo{
    transition: all 1s ease-in-out;
}
.search input:focus{
    border: 2px solid orangered
}
.form-wrap{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.demo-form{
    background-color: pink;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
.demo-form h2{
    text-align: center;
    margin-bottom: 20px;
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;  
}
.demo-form input,
.demo-form select{
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid;
}
.inline{
    display: flex;
}
.demo-form button{
    width: 100%;
    padding: 10px;
    background-color: red;
    color: aliceblue;
    border: 1px yellow;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.demo-form button:hover{
    background-color: blueviolet;
    transform: scale(0.9);
}
.demo-form input:focus,
.demo-form select:focus{
    border: 2px solid rgb(43, 0, 255);
    outline: none;
}
footer{
    background-color: gray;
    color: yellowgreen;
    font-size: 10px;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .footer-left,.footer-right,.footer-social,.footer-center */
